<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>J</key>
		<string>J_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>a.alt</key>
		<string>a.alt.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
	</dict>
</plist>
