<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1500</integer>
		<key>capHeight</key>
		<integer>1364</integer>
		<key>copyright</key>
		<string>Copyright \050c\051 1997, 2009 American Mathematical Society \050&lt;http://www.ams.org&gt;\051, with Reserved Font Name CMR12.</string>
		<key>descender</key>
		<integer>-500</integer>
		<key>familyName</key>
		<string>Computer Modern Roman</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.04379</real>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-42</integer>
			<integer>0</integer>
			<integer>862</integer>
			<integer>892</integer>
			<integer>1330</integer>
			<integer>1350</integer>
			<integer>1366</integer>
			<integer>1408</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>CMR12</string>
		<key>postscriptForceBold</key>
		<false/>
		<key>postscriptFullName</key>
		<string>CMR12</string>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-410</integer>
			<integer>-388</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>40</integer>
			<integer>58</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>130</integer>
			<integer>162</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-200</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>100</integer>
		<key>postscriptWeightName</key>
		<string>Medium</string>
		<key>styleName</key>
		<string>XTRA496</string>
		<key>unitsPerEm</key>
		<integer>2000</integer>
		<key>versionMajor</key>
		<integer>3</integer>
		<key>versionMinor</key>
		<integer>2</integer>
		<key>xHeight</key>
		<integer>862</integer>
	</dict>
</plist>
