<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1500</integer>
		<key>capHeight</key>
		<integer>1366</integer>
		<key>copyright</key>
		<string>Copyright \050c\051 1997, 2009 American Mathematical Society \050&lt;http://www.ams.org&gt;\051, with Reserved Font Name CMBX12.</string>
		<key>descender</key>
		<integer>-500</integer>
		<key>familyName</key>
		<string>Computer Modern</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.04379</real>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-24</integer>
			<integer>0</integer>
			<integer>888</integer>
			<integer>906</integer>
			<integer>1312</integer>
			<integer>1352</integer>
			<integer>1372</integer>
			<integer>1396</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>CMBX12</string>
		<key>postscriptForceBold</key>
		<true/>
		<key>postscriptFullName</key>
		<string>CMBX12</string>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-402</integer>
			<integer>-388</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>68</integer>
			<integer>86</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>218</integer>
			<integer>264</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-200</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>100</integer>
		<key>postscriptWeightName</key>
		<string>Bold</string>
		<key>unitsPerEm</key>
		<integer>2000</integer>
		<key>versionMajor</key>
		<integer>3</integer>
		<key>versionMinor</key>
		<integer>2</integer>
		<key>xHeight</key>
		<integer>862</integer>
	</dict>
</plist>
