<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
