<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>y</key>
		<string>y.glif</string>
	</dict>
</plist>
