<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1222</integer>
    <key>capHeight</key>
    <integer>1222</integer>
    <key>copyright</key>
    <string>Copyright \050c\051 1997, 2009 American Mathematical Society \050&lt;http://www.ams.org&gt;\051, with Reserved Font Name CMTT9.</string>
    <key>descender</key>
    <integer>-444</integer>
    <key>familyName</key>
    <string>Computer Modern</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.04796</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-22</integer>
      <integer>0</integer>
      <integer>862</integer>
      <integer>878</integer>
      <integer>1222</integer>
      <integer>1244</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>CMTT9</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>CMTT9</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-456</integer>
      <integer>-444</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>130</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>148</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-200</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>postscriptWeightName</key>
    <string>Medium</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>862</integer>
  </dict>
</plist>
