<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>y</key>
		<string>y.glif</string>
	</dict>
</plist>
