<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
