<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
